p{
    border: 15px solid #0000ff;
    border-radius: 10px;
}
/* fazer um circulo colocar o border-radius com 
metade da altura e largura */
div{
    background-color: #00ff00;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #000000;
}